<section class="main-hero">
  <div class="content">
      <h1>medE for you, forever.</h1>
      <p>Providing solutions to all your medical needs</p>
      <div class="buttons">
        <div class="signup-primary">Sign up Now!</div>
        <div class="knowmore-btn">How it works</div>
      </div>
  </div>
</section>

<h2>What we offer</h2>

<div class="serve-wrap">
  <div class="serve-card">
    <div class="dpic"></div>
    <div class="heading">Find Doctors</div>
    <div class="desc">Connecting you to the network of specialists around you to book appointments. Providing 24X7 general health support.
      </div>
    <br>
    <div class="lm-btn">LEARN MORE</div>
  </div>
  <div class="serve-card">
      <div class="dpic"></div>
      <div class="heading">Health Tracker</div>
      <div class="desc">Track your medical history and get alerted for your prescribed medicine !.</div>
      <br>
      <div class="lm-btn">LEARN MORE</div>
  </div>
  <div class="serve-card">
        <div class="dpic"></div>
        <div class="heading">Med Shop</div>
        <div class="desc">Get medicine and medical equipments delivered at your doorstep.</div>
        <br>
        <div class="lm-btn">LEARN MORE</div>
    </div>
</div>

<h2>How it works</h2>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde dicta nisi sint saepe nesciunt fuga, at laborum laudantium doloribus distinctio ad sed molestiae quia nulla! Eos incidunt ullam consectetur quo.</p>